<div class="side-bar-top">
  <div class="side-bar-name">
    <%=link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-bar-makechannel">
    <%=link_to "チャットを作成する", new_room_path(current_user) %>%
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <a href="#"><%= room.name%></a>
    </div>
  <% end %>
</div>